rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /apartments/{document=**} {
      allow read, write: if true;
    }
    match /bookings/{document=**} {
      allow read, write: if true;
    }
  }
}
